{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{% static 'css/apps.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/aes_light.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/audio.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/common.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/feed.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/fonts_cnt.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/friends.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/groups.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/im.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/module.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/mrtarg.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/notifier.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/page.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/page_help.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/photos.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/photoview.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/post.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/privacy.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/public.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/tooltips.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/ui_common.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/ui_controls.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/ui_media_selector.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/wk.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/wkview.css' %}" rel="stylesheet">

    <script src='https://code.jquery.com/jquery-1.7.1.js'></script>
    <script src="https://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            VK.init(function () {

            }, function () {
            }, '5.60');
        })
        ;
    </script>
</head>
<body id='body'>
<div id="content">
    <div class="page_block">
        <ul class="ui_tabs clear_fix ui_tabs_header">
            <li>
                <a href="#" class="ui_tab ui_tab_sel" onclick="return uiTabs.goTab(this, event, 1);">
                    Отправить сообщение
                </a>
            </li>
            <li>
                <a href="#" class="ui_tab" onclick="return uiTabs.goTab(this, event, 2);">
                    Отложенные
                </a>
            </li>
            <li>
                <a href="#" class="ui_tab" onclick="return uiTabs.goTab(this, event, 3);">
                    История рассылки
                </a>
            </li>
            <li>
                <a href="#" class="ui_tab" onclick="return uiTabs.goTab(this, event, 4);">
                    Статистика
                </a>
            </li>
        </ul>
        <div>
            <div class="im-page--chat-body">
                <div class="im-page--chat-body-wrap _chat_body_wrap">
                    <div style="width: 594px;"
                         class="im-page--chat-body-abs _im_chat_body_abs ui_scroll_container ui_scroll_default_theme ui_scroll_hidden">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>