<!DOCTYPE html>
<html lang="en">
<head>
    <script src='http://code.jquery.com/jquery-1.7.1.js'></script>

    <script src="http://vk.com/js/api/xd_connection.js?2" type="text/javascript"></script>

    <script>
        VK.init(
                function () {
                });
        function autosize(width) {
            //Проверяем элемент body на наличие.
            if (!document.getElementById('body')) {
                alert('error');
                return;
            }
            // Успешно ли подключен ВК скрипт
            if (typeof VK.callMethod != 'undefined') {
                /*
                 Вызываем функцию vk js api для управления окном.
                 VK.callMethod('функция', параметры)
                 В данном случае у нас - VK.callMethod('изменение_размеров_окна', ширина, высота);
                 Так же добавляем еще 60 пикселей что бы было небольшое расстояние.
                 */
                VK.callMethod('resizeWindow', 840, document.getElementById('body').clientHeight + 60);
            } else {
                alert('error #2');
            }
        }
        $(document).ready(function () {
            //Вызываем функцию регулировки высоты каждые пол секунды.
            setInterval('autosize(607)', 500);
        });
    </script>

    <script>
        // Функция получения друзей и вывода их на экран
        function doIt() {
            /*
             VK.api('метод', {параметр: "значение"}, callback функция{
             // работаем с полученными данными
             });
             */

            VK.api("friends.get", {fields: "photo_medium"}, function (data) {
                // Действия с полученными данными
                for (c = 0; c < data.response.length; c++) {
                    $("body").append("<img src='" + data.response[c].photo_medium + "'>

                    ");
                }
            });
        }
        $(document).ready(function () {
            doIt();
        });
    </script>
</head>
<body style='text-align:center;padding-top:50px;' id='body'>
</body>
</html>