<html>
<head>
    <title>Hello World!</title>
    <script src="http://vk.ru/js/api/xd_connection.js?2"
            type="text/javascript"></script>
</head>
<body onload="F()">
<script type="text/javascript">
    d = document;
    function F() {
        VK.init(function () {
            VK.api("getProfiles",
                    {uids: 1},
                    function (data) {
                        if (data.error)
                            alert(data.error.error_msg);
                        else if (data.response) {
                            d.getElementById("who").innerHTML =
                                    data.response[0].last_name + " " +
                                    data.response[0].first_name;
                        }
                    });
        });
    }
</script>
Hello World, <b id="who">?</b>!
</body>
</html>